# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=rootpassword
DB_NAME=root_password

# Application URLs
BASE_URL=http://localhost/backend
FRONTEND_URL=http://localhost:5173

# Security
JWT_SECRET=JWt_Secret_Here

# AI Service
TOGETHER_AI_API_KEY=Together_API_key_here
TOGETHER_MODEL=meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo